.nav{
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-around;
    background-color: aquamarine;
   border-right: 30%;
   text-decoration: underline;
   font-size: 30px;
   cursor:pointer;
}

.nav a:hover{
color: brown;
}